#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  transform: scale(1);
  opacity: 1;
  transition: opacity, transform 500ms;
}

#contact.open {
  transform: scale(1.2);
  opacity: 0;
}

#socials,
#phone {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;

  display: flex;
  flex-direction: column;
}

#contact > div > a {
  font-family: poor richard;
}
