@media only screen and (max-width: 1000px) {
  #eventPage > #top {
    width: 100vw;
  }

  #top > .imageContainer {
    flex-direction: column;
  }

  #eventPage > #top > .imageContainer > img {
    max-width: 80vw;
    position: relative;
  }
  #eventPage > #top > .imageContainer > .imageDropShadow {
    display: none;
  }

  #date,
  #location {
    position: relative;
    flex-direction: row;
    left: auto;
  }

  #bottom {
    text-align: center;
  }
}
