main {
  grid-template-columns: 1fr;
}

main > div {
  transition: background 500ms;
}

.blogTeaser {
  border: dotted chocolate 2px;
  border-radius: 15px;
  padding: 15px;
  z-index: 5;
  background: bisque;
  transition: all 200ms ease-in-out;
}

.blogTeaser:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.blogTeaser:hover > .imageContainer > .imageDropShadow {
  top: 0;
  left: 0;
}

.blogTeaserText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogTeaserText > h2,
p {
  margin: 0;
  max-height: 54px;
}

.blogTeaser > .imageContainer > img {
  aspect-ratio: 1;
  width: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}

.blogTeaser > .imageContainer > .imageDropShadow {
  width: 150px;
  left: 2%;
  transition: all 200ms ease-in-out;
}
