.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #16161d;
  font-family: poor richard;
  justify-content: start;
  align-items: start;
  max-width: 600px;
  overflow-y: hidden;
  height: 160px;
  transition: height, 200ms;
  position: relative;
  background-color: rgba(245, 245, 220, 0.603);
}

.contentContainer:hover {
  cursor: pointer;
}

.toggleSymbol {
  position: absolute;
  right: 20px;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  transform: rotate(180deg);
  transition: transform, 200ms;
}

.contentContainer.closed > .toggleSymbol {
  transform: rotate(0deg);
}

#cardContainer > .contentContainer.closed > .content {
  height: 0px;
  opacity: 0;
  position: absolute;
}

#cardContainer {
  opacity: 1;
  position: relative;
  top: 0;
  transition: opacity, top, 500ms;
}

#cardContainer.open {
  opacity: 0;
  top: -40px;
}

.content {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  opacity: 1;
  height: auto;
}

.content > div {
  font-size: large;
  font-weight: bold;
}

#cardContainer {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

h2 {
  margin: 0;
  word-spacing: 15px;
}

h3 {
  font-weight: normal;
  margin: 0;
}
