.eventContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  border-radius: 15px;
  border: dotted 2px chocolate;
  background-color: rgba(243, 235, 211, 0.705);
  opacity: 1;
  transform: scale(1);
  transition: opacity, transform, 250ms;
  position: relative;
  z-index: 10;
}

.eventContainer > .imageContainer {
  width: fit-content;
}

.eventContainer.open {
  opacity: 0;
  transform: scale(0.8);
}

.eventContainer.false {
  opacity: 0.75;
}

.eventContainer:hover {
  background-color: bisque;
  cursor: pointer;
}

.eventContainer:hover > .imageContainer > .imageDropShadow {
  left: 0px;
  top: 0px;
}

.eventContainer > .imageContainer > img {
  width: 100%;
}

.eventContainer > .imageContainer > .imageDropShadow {
  width: 100%;
  left: 5px;
  top: 5px;
  transition: top, left, 200ms;
}

h2 {
  font-weight: bold;
  font-family: poor richard;
  word-spacing: 9px;
}

.textContent {
  gap: 10px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.switch {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 23px;
  z-index: 100;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0px;
  height: 0px;
}

.AdminSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  z-index: 100;
}

/* Hide default HTML checkbox */
.AdminSwitch input {
  opacity: 1;
  width: 0px;
  height: 0px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

#newEvent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#newEvent > .textContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider.round:before {
  border-radius: 50%;
}

.delete {
  color: red;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: gainsboro;
  aspect-ratio: 1;
  width: 15px;
  height: 15px;
}
.delete:hover {
  background-color: rosybrown;
}
