@media only screen and (max-width: 1000px) {
  #banner {
    height: 200px;
  }

  #navigation {
    flex-direction: column;
    width: auto;
    align-items: start;
    position: fixed;
    gap: 48px;
    background-color: bisque;
    padding: 12px;
    width: calc(100vw - 24px);
    left: -100vw;
    top: 0;
    z-index: 11;
  }

  #navigation.burger_open {
    left: 0;
  }

  #navigation > a {
    font-size: 56px;
    width: 100%;
    border-bottom: 2px dotted #16161d;
  }

  #burger {
    position: fixed;
    right: 25px;
    top: 25px;
    font-size: xx-large;
    font-weight: normal;
    letter-spacing: 1px;
    transform: rotate(0deg);
    transition: transform, 250ms;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 12;
    opacity: 1;
    transition: opacity, 250ms;
  }

  #burger.closed {
    opacity: 0;
  }

  #burger.burger_open {
    transform: rotate(90deg);
  }
}
